:root {
    --primario:#38eef5;
    --lighprim:#7fffff;
    --darkprim:#44cbcc;
    --secundario: #f551be;
    --lighsecun:#ffbaff;
    --darksecun:#bf028e;
    --terciario:#ffedff;
    --shadow: #d4d4d4;



    
}





header{
    background-color: var(--primario);
    box-shadow: 0 5px 5px var(--shadow);
}
#menu{
    background-color: var(--lighprim);  
}
main{
    background-color:var(--terciario);
}
footer{
    background-color: var(--primario);
}
#mas{
    background-color: var(--darksecun);
}
.modal{
    background-color: rgba(236, 240, 246, 0.902);
}
#nuevo{
    background-color: var(--terciario);
    border: 5px solid var(--secundario);
}
#nuevo button{
    border:2px solid var(--secundario);
}