/*Dimensiones y posiciones de todo el index*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    /*le doy dimensiones al header*/
    width: 100%;
    height: 65px;
    padding: 15px;
    /*posiciones al header*/
    position: sticky;
    top: 0px;
}

main {
    /*le doy dimensiones al main*/
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

footer {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0px;
}

/*dimensiones y posicionamiento del menu de la cabecera*/
#menu {
    /*dimensiones*/
    width: 65px;
    height: 65px;
    /*posicionamiento*/
    position: absolute;
    top: 0px;
    right: 0px;
    /*posicionamiento de contenido*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

/*dimensiones de como deben aparecer los productos de la lista*/
main table {
    margin-top: 20px;
    width: 100%;
    padding-left: 20px;
}

/*dimensiones del input en el main*/
table input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

/*dimensiones y posicionamiento al contenedor del boton para añadir productos*/
#mas {
    /*dimensiones*/
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /*posicionamiento*/
    position: fixed;
    bottom: 15px;
    right: 15px;
    /*posicionamiento del contenido*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

/*dimension y cambio de tamaño del icono de añadir producto*/
#añadir {
    font-size: 70px;
    margin: 10px;
}

/*dimensiones de la modal la capa transparente deben ser siempre igual que la pantalla*/
.modal {
    /*dimensiones*/
    width: 100vw;
    height: 100vh;
    /*posicionamiento*/
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    /*posicionamiento del contenido*/
    display: none;
    /*cambiaremos con el boton a flex*/
    justify-content: center;
    align-items: center;
}

/*dimensiones y posicionamiento de las modales de añadir producto e informacion del producto*/
#nuevo,
#detalle {
    /*dimensiones*/
    width: 80vw;
    max-width: 500px;
    border-radius: 15px;
    /*posicionamiento*/
    display: flex;
    flex-wrap: wrap;
    /*posicionamiento del contenido*/
    overflow: hidden;
    display: none;
}

/*Dimensiones de los input de la modal de añadir producto*/
#nuevo input[type="text"] {
    width: 100%;
    height: 3ch;
    margin: 15px;
    margin-top: 30px;
}

#nuevo input[type="number"] {
    width: 100%;
}

/*posicionamiento del titulo de la modal de añadir producto*/
h2 {
    text-align: center
}

/*dimensiones del input de añadir producto*/
#tiendas {
    /*dimensiones*/
    width: 100%;
    height: 3ch;
    margin: 15px;
}

#nuevo textarea {
    /*dimensiones*/
    width: 100%;
    height: 90px;
    margin: 15px;
}

#nuevo label {
    /*dimensiones*/
    margin-top: 15px;
    margin-left: 15px;
    width: 100%;
}

#nuevo button {
    margin: auto;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 25px;
}

.menos,
.cantidad,
.suma {
    margin: auto;
}

.menos {
    margin-left: 15px;
    border-radius: 50%;
    /*posicionamiento del contenido*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.cantidad {
    width: 50%;
}

.suma {
    margin-right: 15px;
    border-radius: 50%;
    /*posicionamiento del contenido*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.menos i,
.suma i {
    font-size: 30px;
}

.informacion {
    width: 100%;
    height: 80px;
}

#detalle button {
    margin: auto;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 30px;
    width: 65px;
}

table th {
    text-align: left;
    width: 50px;
}

table {
    margin-left: 20px;
    margin-right: 20px;
    border-collapse: collapse;
}

.lupa {
    margin-right: 10px;
}

.iconos {
    text-align: right;
}

#seleccion {
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 40px;
    margin: auto;
}

#borrado {
    text-align: center;
}

.eliminar {
    border-radius: 4px;
    height: 25px;
}