

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header {
    /*le doy dimensiones al header*/
    width: 100%;
    height: 65px;
    padding: 15px;
    /*posiciones al header*/
    position: sticky;
    top: 0px;
}


main {
    /*le doy dimensiones al main*/
    width: 100%;
    height: 150vh;
   display: flex;
   justify-content: center;
    align-items: flex-start;
}
main table{
    margin-top: 20px;
    width: 100%;
    padding-left: 20px;
}

#mas {
    /*dimensiones*/
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
    /*posicionamiento*/
    position: fixed;
    bottom: 15px;
    right: 15px;
    /*posicionamiento del contenido*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
  

}

#añadir {
    font-size: 70px;
    margin: 10px;
}

#menu {
    /*dimensiones*/
    width: 65px;
    height: 65px;

    /*posicionamiento*/
    position: absolute;
    top: 0px;
    right: 0px;
    /*posicionamiento de contenido*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    
}

footer {
    width: 100%;
    height:40px;
    position: fixed;
    bottom: 0px;

}

.modal {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;

    display: none; /*cambiaremos con el boton a flex*/
    justify-content: center;
    align-items: center;

   
}

#nuevo{
    width: 80vw;
    max-width: 500px;
    border-radius: 15px;
    
    display: flex;
    flex-wrap: wrap;

    overflow: hidden;

}
#nuevo input[type="text"]{
width: 100%;
height: 3ch;
margin: 15px;
margin-top: 30px;
}

h2{
text-align: center
}
#tiendas{
    width: 100%;
    height: 3ch;
    margin: 15px;
}
#nuevo textarea{
    width: 100%;
    height: 90px;
    margin: 15px;
}
#nuevo label{
    margin-top: 15px;
    margin-left: 15px;
    width: 100%;
}

#nuevo button{
    margin:auto;
    margin-bottom: 10px;
    border-radius: 4px;
    height:25px;
}
.menos,
.cantidad,
.suma{
    margin: auto;
}
.menos{
    margin-left: 15px;
}
.suma{
    margin-right: 15px;
}
.menos
.suma{
    font-size: 150px;
}
#detalle{
    width: 80vw;
    border-radius: 15px;
    
    display: flex;
    flex-wrap: wrap;

    overflow: hidden;
    display: none;
}
.informacion{
    width: 100%;
    height: 80px;
}
#detalle button{
    margin:auto;
    margin-bottom: 10px;
    border-radius: 4px;
    height:30px;
    width: 65px;
}
